  <div class="heading__img">
    <img class="palm-one-third" src="{{assets}}/swipetable-grayscale.gif" alt="">
  </div>
  <div class="heading__text">
    <h1>SwipeTable</h1>
    <p>Mobile focused opinionated ajax table</p>
  </div>
