<div class="usage__container">
  <div class="usage__markup">
{{#markdown }}

##Usage

SwipeTable consists of 3 parts:

* HTML snippet
* CSS
* JavaScript

Place this HTML snippet where you want the table:

<script src="https://gist.github.com/Blind238/8040727.js"></script>

`st-##` sets the size of the pinned column as a percentage of the table.</br>
Replace `##` with a number between 10 and 35 in 5 increments.

{{/markdown }}
  </div>
</div>

<div class="usage__container">
  <div class="usage__javascript">
{{#markdown }}

Load the script just before the `</body>` closing tag,</br>
then use the following to config and start the table:

<script src="https://gist.github.com/Blind238/8040555.js"></script>

{{/markdown }}
  </div>
</div>
