<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{assets}}/devlog.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <!-- Page content
    ================================================== -->
    <div>
      {{#markdown}}{{> body}}{{/markdown}}
    </div>

    <script src="{{assets}}/js/highlight.js"></script>
    {{> analytics }}
  </body>
</html>
