@charset "UTF-8";
/*------------------------------------*\
    MAIN.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";





/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";

@import "ui/code";

.top-half,
.usage {
  display: flex;
  flex-wrap: wrap;
}

.top-half {
  justify-content: center;
}

.heading,
.features {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.heading {
  justify-content: center;
  align-items: center;
}

.heading__text {
  flex-shrink: 0;
  margin-left: $base-spacing-unit;
}

.features {

}

.features__content {
  align-self: center;
}

.usage {
  justify-content: space-around;
}

.usage__container {
  display: flex;
  flex-grow: 1;
}

.usage__markup,
.usage__javascript {
  // flex-grow: 1;
}

.usage__javascript {
  align-self: flex-end;
}

@include media-query("lap") {
}

@include media-query("lap-and-up") {
}

@include media-query("desk") {
  .usage__container {
    flex-grow: 0;
  }
}

@include media-query("desk-wide") {
  .usage {
    justify-content: center;
  }

  .usage__javascript {
    margin-left: $base-spacing-unit
  }
}


pre{
  background-color: lightgray;
}
