@import "bootstrap-table";
@import "responsive-tables";

body{
  padding: 0;
  margin: 0;
}

.swipe-table {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.st-wrap {
  overflow: hidden;
  position: relative;
}
.st-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.st-header {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  height: 50px;
  background-color: #828dff;
  overflow: hidden;
  visibility: visible;
  .st-pinned, .st-scrollable{
    height: 50px;
  }

  .st-scrollable {
    white-space: nowrap;
    position: relative;
    > div {
      height: 50px;
      position: relative;
      display: inline-block;
    }
    .st-scrollbar{
      position:absolute;
      display: block;
      height: 5px;
      bottom: 0;
    }
  }
}

.st-scrollbar {
  height: 5px;
  width: 100%;
  background-color: #C5CAFC;
  position: absolute;
  bottom: 50px;
  div {
    background-color: #3A46B1;
    height: 5px;
  }
}

.st-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  height: 50px;
  text-align: center;

  div {
    border: 1px solid #3A46B1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    background-color: #828dff;
  }
}
